header {
    & //titleNemo Start
        .titleNemo {
            cursor: pointer;
        }
    //titleNemo End
    //Nav-Bar Login-Logout Start
    & .link-header {
        color: $light;
        margin-right: 10px;
    }
    //Nav-Bar Login-Logout End

}





