header {
    background-color: $secondary;
    // color: $light;
    & //titleNemo Start
        .titleNemo {
            text-decoration: none;
            cursor: pointer;
            color: $light;
        }
        //titleNemo End
        //Nav-Bar Login-Logout Start
        & .link-header {
        text-decoration: none;
        color: $light;
        margin-right: 10px;
    }
    //Nav-Bar Login-Logout End

}





