*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $light;
    text-decoration: none;
}

/* a:hover{
    font-weight: bolder;
} */

ul {
    list-style: none;
}